<section
  id="inicio"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h2 class="text-4xl font-bold mb-8 text-[#5c18a3] dark:text-[#55d600]">
    Preguntas frecuentes
  </h2>
  <p>
    ¿No sabes por donde comenzar? Aquí te dejamos algunas preguntas frecuentes
    que pueden ayudarte a resolver tus dudas.
  </p>
</section>

<section>
  <div class="my-8">
    <h2 class="bx bx-tag-alt text- font-bold">¿Cómo me inscribo?</h2>
    <p class="">Ve a www.uceva.edu.co contenido contenido...</p>
  </div>
</section>

<section></section>

<section></section>
<i class=""></i>
