<section
  id="inicio"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h2 class="text-5xl font-bold mb-8 text-[#5c18a3] dark:text-[#FFF]">
    Preguntas frecuentes
  </h2>
  <p class="text-xl text-orange-400 dark:text-[#d436b5] font-medium">
    ¿No sabes por donde comenzar? ¡Relájate! realiza cualquier consulta con el
    proceso en el siguiente buscador.
  </p>

  <!-- Buscador -->
  <div class="w-full max-w-xl mx-auto px-4 my-8">
    <input
      type="text"
      id="faqSearch"
      placeholder="Escribe tu pregunta..."
      class="w-full p-3 border dark:bg-gray-800 dark:text-[#55d600] border-gray-300 rounded-md mb-6 focus:outline-none focus:ring-2 focus:ring-[#55d600] [will-change:position,top]"
    />
  </div>

  <!-- Sección de Respuestas -->
  <div id="faqResults" class="w-full max-w-2xl space-y-4 px-4">
    <!-- Las respuestas se inyectarán dinámicamente -->
  </div>
</section>

<section>anwers section</section>

<section></section>
<i class=""></i>
