<section
  id="inicio"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h2 class="text-5xl font-bold mb-8 text-[#5c18a3] dark:text-[#FFF]">
    Preguntas frecuentes
  </h2>
  <p class="text-xl text-orange-400 dark:text-[#d436b5] font-medium">
    ¿No sabes por donde comenzar? ¡Relájate! realiza cualquier consulta con el
    proceso en el siguiente buscador.
  </p>

  <!-- Buscador -->
  <div class="w-full max-w-xl mx-auto px-4 my-8">
    <input
      type="text"
      id="faqSearch"
      placeholder="Escribe tu pregunta..."
      class="w-full p-3 border dark:bg-gray-800 dark:text-[#55d600] border-gray-300 rounded-md mb-6 focus:outline-none focus:ring-2 focus:ring-[#55d600] [will-change:position,top]"
    />
  </div>

  <!-- Sección de Respuestas -->
  <div id="faqResults" class="w-full max-w-2xl space-y-4 px-4">
    <!-- Las respuestas se inyectarán dinámicamente -->
  </div>
</section>

<section
  id="faqs_main"
  class="flex flex-col justify-center w-full max-w-7xl mx-auto px-4"
>
  <div class="cards-container">
    <!-- contenedor Tarjetas -->
    <div
      id="principal_cards"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿Cuáles son los horarios o jornadas de los programas?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            Los programas de pregrado se ofrecen en las jornadas diurna y nocturna en modalidad presencial. 
            Por otra parte las especializaciones y maestrías se ofrecen los fines de semana en modalidad presencial.
          </p>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿Cuál es la duración de los programas?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            <ul class="m-1 list-inside list-disc">
              <li class="text-sm [&::marker]:text-[#009ffb]"> <span class="font-medium"> Pregrados:</span> entre 8 y 10 semestres, a excepción de Medicina que tiene una duración de 12 semestres.</li>
              <li class="text-sm [&::marker]:text-[#009ffb]"> <span class="font-medium"> Posgrados:</span> 2 semestres para especializaciones y 4 para Maestrías</li>
            </ul> 
          </p>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿Qué puntaje del ICFES necesito para aplicar a un programa?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            Para aplicar a la gran mayoría de los programas de pregrado únicamente se requiere haber presentado el ICFES. 
            Sin embargo para Medicina y Psicología se requiere un puntaje especial que puedes consultar 
            <a href="https://www.uceva.edu.co/informacion-general/" class="text-[#009ffb] transition duration-300 hover:text-blue-200 hover:opacity-80"
              target="_blank"
              rel="noopener noreferrer">dando clic aquí</a>.
            
          </p>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿Cuáles son los requisitos para aplicar a Política de Gratuidad(Matrícula Cero)?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            <ul class="m-1 list-inside list-disc">
              <li class="text-sm [&::marker]:text-[#009ffb]">Estar matriculado en un programa académico de pregrado (técnico profesional, tenológico o universitario) en una Institución Pública</li>
              <li class="text-sm [&::marker]:text-[#009ffb]">No tener un título Profesional Universitario</li>
              <li class="text-sm [&::marker]:text-[#009ffb]">Demostrar pertenencia a alguno de los grupos priorizados
                <a href="https://www.mineducacion.gov.co/1780/articles-419388_recurso_2.pdf"
                  class="text-[#009ffb] transition duration-300 hover:text-blue-200 hover:opacity-80"
                  target="_blank"
                  rel="noopener noreferrer">(Reglamento Pag.8)</a></li>
              <li class="text-sm [&::marker]:text-[#009ffb]">Cumplir con los requisitos de permanencia y renovación del beneficio
                <a href="https://www.mineducacion.gov.co/1780/articles-419388_recurso_2.pdf" 
                  class="text-[#009ffb] transition duration-300 hover:text-blue-200 hover:opacity-80"
                  target="_blank"
                  rel="noopener noreferrer">(Reglamento Pag.10)
              </a></li>
            </ul>
          </p>
        </div>
      </div>

      <!-- Tarjeta 5 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿En que fechas se abren inscripciones?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            <ul class="m-1 list-inside list-disc">
              <li class="text-sm [&::marker]:text-[#009ffb]"> <span class="font-medium"> Pregrados:</span> entre mayo-junio y octubre-noviembre</li>
              <li class="text-sm [&::marker]:text-[#009ffb]"> <span class="font-medium"> Premédico:</span> entre febrero-mayo y julio-agosto</li>
              <li class="text-sm [&::marker]:text-[#009ffb]"> <span class="font-medium"> Posgrados:</span> a disposición de la facultad, cada uno o dos semestres</li>
            </ul>
          </p>
        </div>
      </div>

      <!-- Tarjeta 6 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿La UCEVA es una Institución pública o privada?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            La UCEVA es una institución de educación superior de carácter público, sujeta a inspección y vigilancia del Estado.
          </p>
        </div>
      </div>
    </div>
  </div>

    <div class="cards-container">
    <!-- contenedor Tarjetas -->
    <div
      id="principal_cards"
      class="grid grid-cols-1 gap-6 sm:grid-cols-1 md:grid-cols-1 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            ¿No encontraste lo que buscabas?
          </h4>
          <p class="text-sm text-gray-600 dark:text-white mt-4">
            Si necesitas ayuda, puedes comunicarte con nosotros a través de nuestro canal oficial de atención.
          </p>
          <a 
            href="https://api.whatsapp.com/send?phone=573001234567&text=Hola%2C%20tengo%20una%20duda%20sobre%20la%20inscripci%C3%B3n"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center gap-2 px-4 py-2 mt-4 bg-green-600 hover:bg-green-700 text-white rounded-full font-medium transition duration-300"
          ><span class="lni lni-whatsapp text-lg text-yellow-500"></span>
          Enviar mensaje
        </a>
      </div>
    </div>
  </div>
</div>
      
  </div>
</section>

