<section
  id="inicio"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h2 class="text-4xl font-bold mb-4">Busca el programa de tu interés</h2>
  <input
    id="buscador"
    type="text"
    placeholder="Ej. Derecho..."
    class="w-full p-3 border dark:bg-gray-800 dark:text-[#55d600] border-gray-300 rounded-md mb-6 focus:outline-none focus:ring-2 focus:ring-[#55d600] [will-change:position,top]"
  />
</section>

<!-- NO ENCONTRADO -->
<div id="mensajeNoResultados" class="hidden text-center mt-5 px-4 font-bold">
  <p class="text-gray-700 dark:text-white text-base sm:text-lg mb-3">
    Lo sentimos mucho, en el momento no encontramos lo que buscabas
  </p>
  <img
    class="max-w-[200px] w-full mx-auto sm:max-w-xs"
    src="/images/XOsX.gif"
    alt="No encontrado"
  />
</div>

<section id="servicios">
  <div class="facultad">
    <!-- Sección de Facultad Ingeniería -->
    <h3 class="text-3xl font-bold text-[#55d600] p-4">
      Facultad de Ingeniería
    </h3>
    <div
      id="categorias"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-code-alt text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería de Sistemas
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Diseña, desarrolla y gestiona soluciones tecnológicas que
            transforman el mundo digital.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLACURRICULAR_INGENIERIADESISTEMAS.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-SISTEMAS.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="sistemas"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-tree text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería Agropecuaria
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Innova en la producción agrícola y pecuaria con técnicas sostenibles
            y modernas.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-ING-AGROPECUARIA.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-AGROPECUARIA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="agropecuaria"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-bolt text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería Electrónica
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Crea y optimiza sistemas electrónicos que impulsan la industria y la
            tecnología.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/Ing_Electronica_principal.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-ELECTRONICA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="electronica"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-sapling text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería Ambiental
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Protege y gestiona los recursos naturales con soluciones para un
            futuro sostenible.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA_ING_AMBIENTAL_FINAL.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-AMBIENTAL.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="ambiental"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 5 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-hard-hat text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería Industrial
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Optimiza procesos y potencia la productividad de empresas e
            industrias.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-INGENIERÍA-INDUSTRIAL.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-INDUSTRIAL.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="industrial"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 6 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-science text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Ingeniería Biomédica
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Une la tecnología y la salud para innovar en el cuidado de la vida.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA_CURRICULAR_INGENIERIA_BIOMEDICA.pdf"
            download="PLAN-DE-ESTUDIOS-INGENIERIA-BIOMEDICA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="biomedica"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 7 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-buildings text-[#55d600] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#55d600]">
            Tecnología en Obras Civiles
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Construye infraestructura segura y sostenible para el desarrollo.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/plan-estudios-tecnologia-obras-civiles.pdf"
            download="PLAN-DE-ESTUDIOS-TECNOLOGIA-OBRAS-CIVILES.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="civiles"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#55d600] text-[#55d600] hover:bg-[#55d600] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="facultad">
    <!-- Sección de Facultad Ciencias jurídicas y Humanísticas-->
    <h3 class="text-3xl font-bold text-[#d436b5] p-4">
      Facultad de Ciencias Jurídicas y Humanísticas
    </h3>
    <div
      id="categorias"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-megaphone text-[#d436b5] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#d436b5]">
            Comunicación Transmedia
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Crea historias que conectan audiencias en múltiples plataformas.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR_COMUNICACION-TRANSMEDIA.pdf"
            download="PLAN-DE-ESTUDIOS-COMUNICACION-TRANSMEDIA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="transmedia"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-law text-[#d436b5] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#d436b5]">Derecho</h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Defiende la justicia y transforma la sociedad con tu conocimiento
            legal.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA_CURRICULAR-_-DERECHO_FinalRevision.pdf"
            download="PLAN-DE-ESTUDIOS-DERECHO.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="derecho"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-psychology text-[#d436b5] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#d436b5]">Psicología</h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Comprende la mente humana y acompaña el bienestar emocional.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-PSICOLOGÍA.pdf"
            download="PLAN-DE-ESTUDIOS-PSICOLOGIA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="psicologia"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#d436b5] text-[#d436b5] hover:bg-[#d436b5] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="facultad">
    <!-- Sección de Facultad Ciencias Administrativas, Económicas y Contables-->
    <h3 class="text-3xl font-bold text-[#F3780A] p-4">
      Facultad Ciencias Administrativas, Económicas y Contables
    </h3>
    <div
      id="categorias"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-enterprise text-[#F3780A] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#F3780A]">
            Administración de Empresas
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Lidera proyectos y toma decisiones estratégicas en el mundo
            empresarial.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/Plan_Estudios_AdministracionEmpresas_Nuevo_formato.pdf"
            download="PLAN-DE-ESTUDIOS-ADMINISTRACION-EMPRESAS.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="empresas"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-pharmacy text-[#F3780A] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#F3780A]">
            Administración de Servicios de Salud
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Gestiona instituciones y sistemas de salud con eficiencia.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-ADMI.-DE-SERVICIOS-EN-SALUD.pdf"
            download="PLAN-DE-ESTUDIOS-SERVICIOS-SALUD.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="adminsalud"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-bank text-[#F3780A] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#F3780A]">
            Contaduría Pública
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Domina las finanzas y garantiza la transparencia contable.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-_-CONTADURIA-PUBLICA.pdf"
            download="PLAN-DE-ESTUDIOS-CONTADURIA-PUBLICA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="contaduria"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-globe text-[#F3780A] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#F3780A]">
            Comercio Internacional
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Abre puertas a los mercados globales y las oportunidades de negocio.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/nueva-malla-comercio-intrenacional-full-presentacion.pdf"
            download="PLAN-DE-ESTUDIOS-COMERCIO-INTERNACIONAL"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="comercio"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#F3780A] text-[#F3780A] hover:bg-[#F3780A] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="facultad">
    <!-- Sección de Facultad Ciencias de la Salud-->
    <h3 class="text-3xl font-bold text-[#00a0ce] p-4">
      Facultad Ciencias de la Salud
    </h3>
    <div
      id="categorias"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-pulse text-[#00a0ce] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#00a0ce]">Medicina</h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Atiende, diagnostica y salva vidas con vocación y ciencia.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/PLAN.DE_.ESTUDIOS.MEDICINADesacargable.pdf"
            download="PLAN-DE-ESTUDIOS-MEDICINA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="medicina"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-medical-kit text-[#00a0ce] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#00a0ce]">Enfermería</h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Brinda cuidado humano y profesional en cada etapa de la vida.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-_-ENFERMERÍA.pdf"
            download="PLAN-DE-ESTUDIOS-ENFERMERIA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="enfermeria"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i class="bx bx-checklist text-[#00a0ce] text-4xl mr-2"></i>
          <h4 class="text-lg font-bold dark:text-[#00a0ce]">Premédico</h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Prepárate académicamente para aspirar a la carrera de Medicina.
          </p>
        </div>
        <div>
          <a
            href="#"
            download="PLAN-DE-ESTUDIOS-PREMEDICO.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="premedico"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#00a0ce] text-[#00a0ce] hover:bg-[#00a0ce] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="facultad">
    <!-- Sección de Facultad Ciencias de la Educación-->
    <h3 class="text-3xl font-bold text-[#5c18a3] dark:text-[#8512ff] p-4">
      Facultad Ciencias de la Educación
    </h3>
    <div
      id="categorias"
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4 mb-14"
    >
      <!-- Tarjeta 1 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i
            class="bx bx-football-kick text-[#5c18a3] dark:text-[#8512ff] text-4xl mr-2"
          ></i>
          <h4 class="text-lg font-bold dark:text-[#8512ff]">
            Licenciatura en Educación Física, Recreación y Deporte
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Forma y motiva a través del deporte y la actividad física.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-LICENCIATURA-EN-EDUCACION-FISICA-RECREACION-Y-DEPORTE.pdf"
            download="PLAN-DE-ESTUDIOS-LIC-EDUCACION-FISICA.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="fisica"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i
            class="bx bx-face-child text-[#5c18a3] dark:text-[#8512ff] text-4xl mr-2"
          ></i>
          <h4 class="text-lg font-bold dark:text-[#8512ff]">
            Licenciatura en Educación Infantil
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Inspira y guía el aprendizaje en la primera infancia.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/PlanEstudiosEducacion-Infantil.pdf"
            download="PLAN-DE-ESTUDIOS-LIC-EDUCACION-INFANTIL.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="infantil"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i
            class="bx bx-translate text-[#5c18a3] dark:text-[#8512ff] text-4xl mr-2"
          ></i>
          <h4 class="text-lg font-bold dark:text-[#8512ff]">
            Licenciatura en Lenguas Extranjeras con Énfasis en Inglés.
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Enseña y conecta culturas a través de los idiomas.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/MALLA-CURRICULAR-_-LIC-LENGUAS-EXTRANJERAS.pdf"
            download="PLAN-DE-ESTUDIOS-LIC-LENGUAS-EXTRANJERAS.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="lenguas"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div
        class="tarjeta bg-white dark:bg-gray-800 rounded-xl shadow-md dark:shadow-gray-700 p-6 flex flex-col justify-between h-full gap-3 transition-transform hover:scale-105"
      >
        <div>
          <i
            class="bx bx-globe-stand text-[#5c18a3] dark:text-[#8512ff] text-4xl mr-2"
          ></i>
          <h4 class="text-lg font-bold dark:text-[#8512ff]">
            Licenciatura en Ciencias Sociales
          </h4>
          <p class="text-sm text-gray-600 dark:text-white">
            Comprende y transforma tu entorno con una visión crítica y
            humanista.
          </p>
        </div>
        <div>
          <a
            href="/StudyPlans/PLAN-ESTUDIOS-LIC-CIENCIAS-SOCIALES.pdf"
            download="PLAN-DE-ESTUDIOS-LIC-CIENCIAS-SOCIALES.pdf"
            class="block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Plan de estudios
          </a>
          <a
            data-id="sociales"
            class="btn-trabajo cursor-pointer block w-full sm:w-auto px-3 py-3 mt-3 font-semibold rounded-lg shadow text-center text-sm sm:text-base leading-tight dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            ¿En que puedes trabajar?
          </a>
          <a
            href="#"
            class="block w-full sm:w-auto px-4 py-3 mt-2 font-semibold rounded-lg shadow text-center text-sm sm:text-base dark:bg-gray-700 dark:hover:bg-[#5c18a3] text-[#5c18a3] dark:text-white hover:bg-[#5c18a3] hover:text-white transition"
          >
            Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
