<section
  id="inscripcion"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h1 class="text-4xl font-bold mb-4 text-[#55d600] dark:text-[#d436b5]">
    ¿Quieres inscribirte en un programa académico?
  </h1>
  <h3 class="text-xl mb-4">Así lo puedes hacer...</h3>
</section>

<!-- CONTENIDO PROCESO (antes, durante y después) -->
<section>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Antes</h2>
    <p class="">Ve a www.uceva.edu.co contenido contenido...</p>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Durante</h2>
    <p class="">Ve a www.uceva.edu.co contenido contenido...</p>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">Después</h2>
    <p class="">Ve a www.uceva.edu.co contenido contenido...</p>
  </div>
  <div class="my-8">
    <h2 class="text-3xl font-bold">No olvides</h2>
    <p class="">Ve a www.uceva.edu.co contenido contenido...</p>
  </div>
</section>
