<section
  id="inscripcion"
  class="flex flex-col justify-center items-center text-center w-full max-w-xl mx-auto px-4"
>
  <h1 class="text-5xl font-bold mb-4 text-[#d436b5] dark:text-[#FFF]">
    ¿Quieres inscribirte en un programa académico?
  </h1>
  <h3 class="text-xl mb-4">Sigue estos pasos...</h3>
</section>

<section class="relative">
  <!-- ANTES -->
  <div class="max-w-7xl mx-auto">
    <div class="relative py-6">
      <span
        aria-hidden="true"
        class="absolute left-[calc(50%_-_50vw)] w-[100vw] top-1/2 -translate-y-1/2 h-12 bg-gradient-to-r from-[#55d600] dark:from-[#009ffb] to-transparent"
      ></span>

      <h2 class="relative z-10 text-3xl font-bold text-white">Antes</h2>
    </div>
    <p class="m-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eos
      adipisci. Deleniti, magnam. Iure dicta atque numquam vitae ea quisquam
      libero aperiam. Ut delectus modi veniam alias placeat expedita facilis.
    </p>
  </div>

  <!-- DURANTE -->
  <div class="max-w-7xl mx-auto">
    <div class="relative py-6">
      <span
        aria-hidden="true"
        class="absolute left-[calc(50%_-_50vw)] w-[100vw] top-1/2 -translate-y-1/2 h-12 bg-gradient-to-r from-[#5c18a3] dark:from-[#fff] to-transparent"
      ></span>

      <h2
        class="relative z-10 text-3xl font-bold text-white dark:text-[#111827]"
      >
        Durante
      </h2>
    </div>
    <p class="m-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eos
      adipisci. Deleniti, magnam. Iure dicta atque numquam vitae ea quisquam
      libero aperiam. Ut delectus modi veniam alias placeat expedita facilis.
    </p>
  </div>

  <!-- DESPUES -->
  <div class="max-w-7xl mx-auto">
    <div class="relative py-6">
      <span
        aria-hidden="true"
        class="absolute left-[calc(50%_-_50vw)] w-[100vw] top-1/2 -translate-y-1/2 h-12 bg-gradient-to-r from-[#67686b] dark:from-[#d436b5] to-transparent"
      ></span>

      <h2 class="relative z-10 text-3xl font-bold text-white">Después</h2>
    </div>
    <p class="m-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eos
      adipisci. Deleniti, magnam. Iure dicta atque numquam vitae ea quisquam
      libero aperiam. Ut delectus modi veniam alias placeat expedita facilis.
    </p>
  </div>
</section>
